altair
argon2-cffi
argon2-cffi-bindings
astor
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
debugpy
decorator
defusedxml
entrypoints
gitdb
GitPython
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
requests
Send2Trash
six
smmap
streamlit
terminado
testpath
toml
toolz
tornado
traitlets
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
